.header {
  --color-button: var(--color-neutral-600);

  padding-bottom: var(--spacing-150);
  color: var(--color-button);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.controls {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: var(--spacing-200);
}

.button {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: block;
}

.icon {
  width: 1.125rem; /*18px*/
  height: 1.125rem; /*18px*/
  display: block;
  color: var(--color-button);
}

@media (prefers-color-scheme: dark) {
  .header {
    --color-button: var(--color-neutral-300);
  }
}
