.button {
  --color-bg: white;
  --color-txt: var(--color-neutral-700);
  --color-bg-selected: var(--color-neutral-100);
  --color-ol-focus: var(--color-neutral-500);
  --color-txt-icon: var(--color-neutral-700);
  --color-txt-icon-selected: var(--color-blue-500);

  appearance: none;
  border: none;
  width: 100%;
  height: fit-content;
  border-radius: var(--radius-6);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: var(--spacing-100);
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg);
  color: var(--color-txt);
}

.button:focus-visible {
  outline: 2px solid var(--color-ol-focus);
  padding: var(--spacing-125) 0;
  outline-offset: 2px;
}

.big.button {
  border-radius: var(--radius-8);
  padding: var(--spacing-125) 0;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: var(--color-bg-selected);
    cursor: pointer;
  }
}

.label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: var(--spacing-100);
  align-items: center;
}

.selected {
  background-color: var(--color-bg-selected);
  color: var(--color-txt-selected);
}

.frontIcon {
  width: 1.25rem; /*20px*/
  height: 1.25rem; /*20px*/
  display: block;
  color: var(--color-txt-icon);
}

.big.button.selected .frontIcon {
  color: var(--color-txt-icon-selected);
}

@media (hover: hover) and (pointer: fine) {
  .big.button:hover .frontIcon {
    color: var(--color-txt-icon-selected);
  }
}

.backIcon {
  width: 1.25rem; /*20px*/
  height: 1.25rem; /*20px*/
  display: none;
  color: var(--color-txt-icon);
}

.selected .backIcon {
  display: block;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover .backIcon {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  .button {
    --color-bg: var(--color-neutral-950);
    --color-txt: var(--color-neutral-200);
    --color-bg-selected: var(--color-neutral-800);
    --color-txt-selected: white;
    --color-ol-focus: var(--color-neutral-500);
    --color-txt-icon: var(--color-neutral-200);
    --color-txt-icon-selected: var(--color-blue-500);
  }
}

@media (min-width: 1024px) {
  .button {
    padding: var(--spacing-100);
  }

  .big.button {
    padding: var(--spacing-125) var(--spacing-150);
  }
}
