.sidebar {
  display: none;
}

.sidebar.active {
  display: block;
  height: 100%;
}

.desktopNavigation {
  display: none;
}

.sidebar_panel {
  display: block;
  height: 100%;
}

.allTags {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: var(--spacing-150) var(--spacing-150) 0 0;
  padding: var(--spacing-200) var(--spacing-250);
}

@media (min-width: 768px) {
  .allTags {
    padding: var(--spacing-300) var(--spacing-400);
  }
}

@media (min-width: 1024px) {
  .sidebar {
    display: block;
    grid-area: sidebar-area;
    padding: var(--spacing-150) var(--spacing-200);
    background-color: white;
  }

  .sidebar_panel {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 1px;
    background-color: var(--color-neutral-200);
  }

  .desktopNavigation {
    display: block;
    background-color: white;
  }

  .allTags {
    padding: 0;
    border-radius: 0 0 0 0;
  }

  @media (prefers-color-scheme: dark) {
    .sidebar {
      background-color: var(--color-neutral-950);
    }

    .sidebar_panel {
      background-color: var(--color-neutral-800);
    }

    .desktopNavigation {
      background-color: var(--color-neutral-950);
    }

    .allTags {
      background-color: var(--color-neutral-950);
    }
  }
}
