.page {
  height: 100%;
  min-height: 0;
}

.allNotes {
  width: 100%;
  height: 100%;
  min-height: 0;
  display: none;
  background-color: white;
  border-radius: var(--spacing-150) var(--spacing-150) 0 0;
}

.note {
  width: 100%;
  height: 100%;
  min-height: 0;
  display: none;
  background-color: white;
}

.active {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .allNotes {
    background-color: var(--color-neutral-950);
  }

  .note {
    background-color: var(--color-neutral-950);
  }
}

@media (min-width: 1024px) {
  .page {
    width: 100%;
    height: 100%;
    display: grid;
    overflow: hidden;
    grid-template-columns: auto 1fr;
    column-gap: 1px;
    background-color: var(--color-neutral-200);
  }

  .allNotes {
    width: 18.125rem; /*290px*/
    height: 100%;
    position: relative;
    display: block;
  }

  .note {
    width: auto;
    height: 100%;
    position: relative;
    display: block;
  }

  @media (prefers-color-scheme: dark) {
    .page {
      background-color: var(--color-neutral-800);
    }
  }
}
