.header {
  --color-txt-icon: var(--color-neutral-500);
  --color-ol-link_focus: var(--color-neutral-500);

  height: 5.0625rem; /*81px*/
  padding: 0 var(--spacing-400);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
}

.tools {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--spacing-200);
}

.link {
  display: block;
  border-radius: var(--radius-6);
}

.link:focus-visible {
  outline: 2px solid var(--color-ol-link_focus);
}

.icon {
  display: block;
  color: var(--color-txt-icon);
  width: 24px;
  height: 24px;
}

@media (prefers-color-scheme: dark) {
  .header {
    --color-txt-icon: var(--color-neutral-400);
  }
}
