:root {
  /*Colors*/
  --color-neutral-950: #0e121b;
  --color-neutral-950-a60: #0e121b99;
  --color-neutral-900: #191b25;
  --color-neutral-800: #232530;
  --color-neutral-700: #2b303b;
  --color-neutral-600: #525866;
  --color-neutral-500: #717784;
  --color-neutral-400: #99a0ae;
  --color-neutral-300: #cacfd8;
  --color-neutral-200: #e0e4ea;
  --color-neutral-100: #f3f5f8;
  --color-neutral-50: #f5f7fa;
  --color-neutral-0: #ffffff;
  --color-blue-700: #2547d0;
  --color-blue-500: #335cff;
  --color-blue-50: #ebf1ff;
  --color-green-500: #21c16b;
  --color-green-100: #d1fbe9;
  --color-red-500: #fb3748;
  --color-red-100: #ffd5d8;

  /*Text presets*/
  --text-font-size-1: 1.5rem;
  --text-line-height-1: 120%;
  --text-letter-spacing-1: -0.5px;
  --text-font-weight-1: 700;
  /**/
  --text-font-size-2: 1.25rem;
  --text-line-height-2: 120%;
  --text-letter-spacing-2: -0.5px;
  --text-font-weight-2: 700;
  /**/
  --text-font-size-3: 1rem;
  --text-line-height-3: 120%;
  --text-letter-spacing-3: -0.3px;
  --text-font-weight-3: 600;
  /**/
  --text-font-size-4: 0.875rem;
  --text-line-height-4: 120%;
  --text-letter-spacing-4: -0.2px;
  --text-font-weight-4: 500;
  /**/
  --text-font-size-5: 0.875rem;
  --text-line-height-5: 120%;
  --text-letter-spacing-5: -0.2px;
  --text-font-weight-5: 400;
  /**/
  --text-font-size-6: 0.75rem;
  --text-line-height-6: 120%;
  --text-letter-spacing-6: -0.2px;
  --text-font-weight-6: 400;
  /**/

  /*Spacing*/
  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-50: 4px;
  --spacing-75: 6px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;

  /*Radius*/
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;

  /*Shadow*/
  --shadow-small: 0px 4px 6px 0px rgba(240, 240, 240, 0.6);
  --shadow-large: 0px 8px 12px 0px rgba(240, 240, 240, 0.6);
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  --text-font-family: var(--font-inter-sans-serif);
  /**/
  font-family: var(--font-source-mono);
  font-family: var(--font-noto-sans);
  font-family: var(--text-font-family);
}

.app-root {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-neutral-100);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.modal-root {
  grid-area: unset;
}

@media (prefers-color-scheme: dark) {
  .app-root {
    background-color: var(--color-neutral-800);
  }
}

main {
  height: 100%;
  min-height: 0;
  display: block;
  border-radius: var(--radius-8) var(--radius-8) 0 0;
  background-color: var(--color-neutral-0);
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  main {
    background-color: var(--color-neutral-950);
    border: 1px solid var(--color-neutral-800);
    color: var(--color-neutral-0);
  }
}

.portable-header {
  display: block;
}

.desktop-header {
  display: none;
}

.desktop-sidebar {
  display: none;
}

.bottom-navigation {
  display: block;
}

@media (min-width: 1024px) {
  .app-root {
    display: grid;
    grid-template-columns: 17rem 1fr; /*272px 1fr*/
    grid-template-rows: auto 1fr;
    grid-template-areas: "sidebar-area header-area" "sidebar-area main-area";
    row-gap: 1px;
    column-gap: 1px;
    background-color: var(--color-neutral-200);
  }

  main {
    border-radius: 0;
    grid-area: main-area;
    background-color: white;
  }

  .portable-header {
    display: none;
  }

  .desktop-header {
    display: block;
    grid-area: header-area;
    background-color: white;
  }

  .desktop-sidebar {
    display: block;
    grid-area: sidebar-area;
    padding: var(--spacing-150) var(--spacing-200);
    background-color: white;
  }

  .desktop-sidebar_panel {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 1px;
    background-color: var(--color-neutral-200);
  }

  .desktop-navigation {
    background-color: white;
  }

  .all-tags {
    width: 100%;
    height: 100%;
    background-color: white;
  }

  .bottom-navigation {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    .app-root {
      background-color: var(--color-neutral-800);
    }

    main {
      border: none;
      background-color: var(--color-neutral-950);
      color: var(--color-neutral-0);
    }

    .desktop-sidebar {
      background-color: var(--color-neutral-950);
    }

    .desktop-sidebar_panel {
      background-color: var(--color-neutral-800);
    }

    .desktop-navigation {
      background-color: var(--color-neutral-950);
    }

    .all-tags {
      background-color: var(--color-neutral-950);
    }

    .desktop-header {
      background-color: var(--color-neutral-950);
    }
  }
}

.text-preset-1 {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size-1);
  font-weight: var(--text-font-weight-1);
  line-height: var(--text-line-height-1);
  letter-spacing: var(--text-letter-spacing-1);
}

.text-preset-2 {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size-2);
  font-weight: var(--text-font-weight-2);
  line-height: var(--text-line-height-2);
  letter-spacing: var(--text-letter-spacing-2);
}

.text-preset-3 {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size-3);
  font-weight: var(--text-font-weight-3);
  line-height: var(--text-line-height-3);
  letter-spacing: var(--text-letter-spacing-3);
}

.text-preset-4 {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size-4);
  font-weight: var(--text-font-weight-4);
  line-height: var(--text-line-height-4);
  letter-spacing: var(--text-letter-spacing-4);
}

.text-preset-5 {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size-5);
  font-weight: var(--text-font-weight-5);
  line-height: var(--text-line-height-5);
  letter-spacing: var(--text-letter-spacing-5);
}

.text-preset-6 {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size-6);
  font-weight: var(--text-font-weight-6);
  line-height: var(--text-line-height-6);
  letter-spacing: var(--text-letter-spacing-6);
}

.text-color-neutral-0 {
  color: var(--color-neutral-0);
}

.text-color-neutral-950 {
  color: var(--color-neutral-950);
}

.text-color-neutral-600 {
  color: var(--color-neutral-600);
}

.text-color-neutral-700 {
  color: var(--color-neutral-700);
}

.text-color-neutral-800 {
  color: var(--color-neutral-700);
}

@media (prefers-color-scheme: dark) {
  .text-color-neutral-0 {
    color: var(--color-neutral-950);
  }

  .text-color-neutral-950 {
    color: white;
  }

  .text-color-neutral-600 {
    color: var(--color-neutral-300);
  }

  .text-color-neutral-700 {
    color: var(--color-neutral-300);
  }

  .text-color-neutral-800 {
    color: var(--color-neutral-100);
  }
}
