.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: var(--spacing-200);
}

.home {
  display: none;
}

.visible {
  display: block;
}

@media (min-width: 1024px) {
  .header {
    display: none;
  }
}
