.sidebar {
  width: 18.125rem; /*258px+padding-right*/
  padding: var(--spacing-250) var(--spacing-400) 0 var(--spacing-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}

.button {
  width: 100%;
}
