.header {
  width: 100%;
  padding: var(--spacing-150) 0;
  margin-bottom: var(--spacing-200);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: black;
}

@media (prefers-color-scheme: dark) {
  .header {
    color: white;
  }
}
