.header {
  width: 100%;
  padding: var(--spacing-150) 0;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  row-gap: var(--spacing-200);
  color: black;
}

@media (prefers-color-scheme: dark) {
  .header {
    color: white;
  }
}
