.note {
  background-color: white;
}

.noteCard {
  text-decoration: none;
  padding: var(--spacing-100);
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: var(--spacing-150);
}

@media (prefers-color-scheme: dark) {
  .noteList {
    background-color: var(--color-neutral-800);
  }

  .note {
    background-color: var(--color-neutral-950);
  }

  .noteCard {
    background-color: var(--color-neutral-950);
  }
}

@media (min-width: 1024px) {
  .selected.note {
    outline: 1px solid white;
  }

  .selected .noteCard {
    border-radius: var(--radius-6);
    background-color: var(--color-neutral-100);
  }

  @media (prefers-color-scheme: dark) {
    .selected.note {
      outline: 1px solid var(--color-neutral-950);
    }

    .selected .noteCard {
      border-radius: var(--radius-6);
      background-color: var(--color-neutral-800);
    }
  }
}
