.main {
  --color-bg: var(--color-neutral-100);
  --color-br-container: var(--color-neutral-200);
  --color-bg-container: white;
  --color-txt-logo: black;
  --color-br-field: var(--color-neutral-300);
  --color-bg-rule: var(--color-neutral-200);

  width: 100vw;
  height: 100vh;
  position: relative;
  padding: var(--spacing-150) var(--spacing-200);
  background-color: var(--color-bg);
}

.container {
  width: calc(100% - var(--spacing-400));
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--radius-12);
  padding: var(--spacing-600) var(--spacing-200);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: var(--spacing-200);
  align-items: center;
  border: 1px solid var(--color-br-container);
  background-color: var(--color-bg-container);
}

.logo {
  color: var(--color-txt-logo);
  padding-bottom: var(--spacing-50);
}

.textBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: var(--spacing-100);
  align-items: center;
  text-align: center;
}

.form {
  width: 100%;
  height: fit-content;
  padding-top: var(--spacing-300);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: var(--spacing-200);
}

.textInput {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: var(--spacing-75);
}

.field {
  appearance: none;
  padding: var(--spacing-200) var(--spacing-150);
  border-radius: var(--radius-8);
  border: 1px solid var(--color-br-field);
  background-color: transparent;
}

.rule {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--color-bg-rule);
}

.link {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .main {
    --color-bg: var(--color-neutral-700);
    --color-br-container: var(--color-neutral-800);
    --color-bg-container: var(--color-neutral-950);
    --color-txt-logo: white;
    --color-br-field: var(--color-neutral-600);
    --color-bg-rule: var(--color-neutral-800);
  }
}
