.note {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1px;
  background-color: var(--color-neutral-200);
}

.panel {
  height: 100%;
  padding: var(--spacing-250) var(--spacing-200) 0 var(--spacing-200);
  background-color: white;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1px;
  background-color: var(--color-neutral-200);
}

.header {
  display: block;
  background-color: white;
}

.details {
  display: block;
  height: 100%;
  min-height: 0;
  padding-top: var(--spacing-150);
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1px 1fr;
  row-gap: var(--spacing-150);
}

.title {
  appearance: none;
  display: block;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
}

.property {
  color: var(--color-neutral-700);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.propertyName {
  width: 7.1875rem; /*115px*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 0.375rem; /*6px*/
}

.propertyIcon {
  width: 1rem;
  height: 1rem;
}

.content {
  appearance: none;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

.footer {
  display: none;
  background-color: white;
}

.sidebar {
  display: none;
  height: 100%;
  min-height: 0;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  .note {
    background-color: var(--color-neutral-800);
  }

  .panel {
    background-color: var(--color-neutral-950);
  }

  .container {
    background-color: var(--color-neutral-800);
  }

  .header {
    background-color: var(--color-neutral-950);
  }

  .details {
    background-color: var(--color-neutral-950);
  }

  .property {
    color: var(--color-neutral-300);
  }

  .footer {
    background-color: var(--color-neutral-950);
  }

  .sidebar {
    background-color: var(--color-neutral-950);
  }
}

@media (min-width: 768px) {
  .panel {
    padding: var(--spacing-250) var(--spacing-300) 0 var(--spacing-300);
  }

  .details {
    min-height: 0;
    padding-top: var(--spacing-200);
    row-gap: var(--spacing-200);
  }
}

@media (min-width: 1024px) {
  .note {
    grid-template-columns: 1fr 16.125rem; /*1fr 258px*/
  }
  .panel {
    padding: var(--spacing-250) var(--spacing-300) var(--spacing-250)
      var(--spacing-300);
  }

  .container {
    grid-template-rows: 1fr auto;
  }

  .header {
    display: none;
  }

  .details {
    padding-top: 0px;
    padding-bottom: var(--spacing-200);
  }

  .footer {
    display: block;
  }

  .sidebar {
    display: block;
  }
}
